{% extends 'layout.server.view.html' %} 
{% block header %}
	<header class="header-top">
            	<div class="blue-tab">
					<p class="blue-tab-text">OUT MISSION TO MAKE BUSINESS PRACTICES</p>
                </div>
                <div class="logo-bottom">
                	<div class="logo">
                    	<img src="../img/frontend/images/logo.png" height="140px" width="200px">
                    </div>
                    <div class="orange-tab">
                    	<p class="orange-tab-text-about">FUN <small>& </small> AFFORDABLE TO EVERYONE</p>
                    </div>
                </div>
			</header><!--end header-->
{% endblock %}
{% block content %}	
<!--content-->
	<section class="content">
							<div class="main-content">
                            	<div class="image1">
                                	<p>PRACTICE<p/><p> BUSINESS CASES</p>
                                </div>
                                 <div class="image2">
                                	<p>ACE YOUR </p><p>CONSULTING</p><p> INTERVIEWS</p>
                                </div>
                                <div class="image3">
                                	<p>SCHEDULE PRACTIVES</p><p> WIDTH</p> <p>OTHER STUDENTS</p>
                                </div>  
                            </div>
	</section>
<!--end content-->
{% endblock %}