<section data-ng-controller="TestCasesEditController">
    <div class="page-header">
        <h1>New TestCase</h1>
    </div>
    <div class="col-md-12">
        <form name="form" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': form.code.$dirty && form.code.$invalid }">
                    <label class="control-label" for="code">ID</label>
                    <div class="controls">
                        <input name="code" type="number" data-ng-model="code" id="code" class="form-control" placeholder="ID" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.type.$dirty && form.type.$invalid }">
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">
                        <select data-ng-model="type" id="type" name="type" class="form-control" data-ng-options="k as v for (k,v) in listTypes" placeholder="Type" required ></select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.state.$dirty && form.state.$invalid }">
                    <label class="control-label" for="state">State No.</label>
                    <div class="controls">
                        <input name="state" type="number" data-ng-model="state" id="state" class="form-control" placeholder="State No." required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="keywords">Keywords</label>
                    <div class="controls">
                        <input name="keywords" type="text" data-ng-model="keywords" id="keywords" class="form-control" placeholder="Keywords">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="parent_code">Parent ID</label>
                    <div class="controls">
                        <input name="parent_code" type="number" data-ng-model="parent_code" id="parent_code" class="form-control" placeholder="Parent ID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="reasoning">Reasoning</label>
                    <div class="controls">
                        <input name="reasoning" type="text" data-ng-model="reasoning" id="reasoning" class="form-control" placeholder="Reasoning">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <textarea name="content" ckeditor="editorOptions" data-ng-model="content" id="content" class="form-control" placeholder="Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>