{% extends '../layout.server.view.html' %} 
{% block header %}
  <header class="header-top">
              <div class="blue-tab">
          <p class="blue-tab-text">OUT MISSION TO MAKE BUSINESS PRACTICES</p>
                </div>
                <div class="logo-bottom">
                  <div class="logo">
                      <img src="../img/frontend/images/logo.png" height="140px" width="200px">
                    </div>
                    <div class="orange-tab">
                      <p class="orange-tab-text-about">FUN <small>& </small> AFFORDABLE TO EVERYONE</p>
                    </div>
                </div>
      </header><!--end header-->
{% endblock %}
{% block content %} 
						<section class="content">
							<div class="main-content">
                               <div class="profile">
                               		<div class="avatar">
                                    	<img src="../img/frontend/images/big.png">
										                      <img class="anh1" src="../img/frontend/images/profile_tran.png">
                                    </div>
                                    <div class="about">
                                    	<h1>TRAN LE</h1>
                                        <p>FOUNDER</p>
                                        <p>DESIGNER - VIDEO EDITOR</p>
                                        <p>CASE DEVELOPER</p>
                                    </div>
                               </div>
                               <div class="profile">
                               		<div class="avatar-small">
                                    	<img class="small" src="../img/frontend/images/small.png">
                                    </div>
                                    <div class="about">
                                    	<h1>THANH LE</h1>
                                        <p>PROGRAMER</p>
                                    </div>
                               </div>
                               <div class="profile">
                               		<div class="avatar-small">
                                    	<img class="small" src="../img/frontend/images/small.png">
                                    </div>
                                    <div class="about">
                                    	<h1>MARSUS</h1>
                                        <p>ILLUSTRATOR</p>
                                    </div>
                               </div>
                            </div>
                           	<div class="profile">
                               		<div class="avatar-small">
                                    	<img class="small" src="/img/frontend/images/small.png">
                                    </div>
                                    <div class="about">
                                    	<h1>THANH LE</h1>
                                        <p>PROGRAMER</p>
                                    </div>
                             </div> 
						</section><!--end content-->
{% endblock %}