{% extends '../layout.server.view.html' %} {% block header %}
<header class="tutor-header">
    <div class="tutor-header-bottom">
        <p>FORUMS - GET YOUR QUESTION ANSWERED</p>
    </div>
    <div class="tutorial-logo">
        <img src="../img/frontend/images/logo.png" width="150" height="100">
    </div>
</header>
<!--end header-->
{% endblock %} {% block content %}
<section class="content">
    <div class="main-content">
        <div class="top-content">
            <ul class="rec-top-forum">
                <li class="active"><a href="/forum">Q A</a></li>
                <li><a href="/find">FIND PRACTICING PARTNERS</a></li>
                <li><a href="/profile">PROFILE</a></li>
            </ul>
        </div>
        <div class="qa">
            <table style="width:90%">
                <tr>
                    <th style="color:#FF6633; text-align:left;">FRAMEWORK<img class="right" src="../img/frontend/images/triag1.png"></th>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="12%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
            </table>
        </div>
        <div class="qa">
            <table style="width:90%">
                <tr>
                    <th style="color:#FF6633; text-align:left;">INTERVIEW SKILL & TIPS<img class="right" src="../img/frontend/images/triag1.png"></th>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
            </table>
        </div>
        <div class="qa">
            <table style="width:90%">
                <tr>
                    <th style="color:#FF6633; text-align:left;">SPECFIC CASES<img class="right" src="../img/frontend/images/triag1.png"></th>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
            </table>
        </div>
        <div class="qa">
            <table style="width:90%">
                <tr>
                    <th style="color:#FF6633; text-align:left;">OTHERS<img class="right" src="../img/frontend/images/triag1.png"></th>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
                <tr>
                    <td width="70%">When should we use 3C's framework and 4P's framework?</td>
                    <td width="15%">58 views</td>
                    <td width="15%">80 likes</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<!--end content-->
{% endblock %}
